<%- include('../views/partials/header') %>
    <h1>Compose</h1>
    <form action="index.html" method="post" action="/compose">
        <input type="text" name="composeInput">
        <button type="submit" name="button">Publish</button>
    </form>
<%- include('../views/partials/footer') %>