<%- include('../views/partials/header') %>
    <h1>Home</h1>
    <p> <%= homeStartingContent %> </p>
    <% postData.forEach((post) => { %>
      <% console.log(post.title); %>
    <% }); %>


<%- include('../views/partials/footer') %>
